* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Error{
    margin-top: 2rem;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 1.33rem;
}
.line{
    text-decoration: line-through;
}
.toDoApp {
    margin-top: 2rem;
    width: 100%;
    background: white;
    max-width: 380px;
    margin-inline: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.toDoApp input {
    width: 100%;
    max-width: 280px;
    padding: 10px;
    font-size: 1.2rem;
}

.toDoApp .inputFiled {
    display: flex;
    gap: 0.53rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.toDoApp .inputFiled button {
    padding: 15px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    padding: 10px;
    margin-top: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.task button {
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 5px;
}

.task .Action button:first-child {
    background: #28a745;
    color: white;
}

.task .Action button:last-child {
    background: #dc3545;
    color: white;
}