*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b69c9c;
}
.container{
display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.calculator{
        width: 70%;
    max-width: 20rem;
    box-shadow: -1px 0px 2px 3px #d9bfbf;
    border: 2px solid #f5baba;
    padding: 1.44rem;
}
.input{
   display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-height: 1.66rem;
    width: 100%;
    max-width: 15rem;
    margin-left: 1rem;
   background-color: aliceblue;
    
}

.button{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 0.4rem;
    padding: 0.555rem;
}
.button button{
      background-color: aliceblue;
    padding: 0.33rem 0.11rem;
}