*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    padding-inline: 1rem;
}
.popUpsContainer{
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height:30rem; */
}
.popups{
    width: 100%;
    max-width: 300px;
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 2px 7px 1px #c4b9b9;
    position: absolute;
    left: 5%;
    top: 10%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 3s ease;
}
button{
    margin-top: 2rem;
    padding: 0.41rem 1.5rem;
    border: none;
    background-color: aquamarine;
    border-radius: 4px;
    cursor: pointer;
}
.popups span{
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}
.zoomOut{
/* transform: scale(1); */
left: 50%;
top:50%;
transform: translate(-50%,-50%) scale(1); 
}