.bag-items-container {
  display: inline-block;
  width: 64%;
  padding-right: 20px;
  border-right: 1px solid #eaeaec;
  padding-top: 32px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-page {
  width: 75%;
  margin-left: 12.5%;
}

.bag-summary {
  vertical-align: top;
  display: inline-block;
  width: 35%;
  padding: 24px 0 0 16px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-details-container {
  margin-bottom: 16px;
}

.price-header {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}

.price-item {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}

.price-item-value {
  float: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btn-place-order {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.bag-item-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bag-item-img {
  width: 100%;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

/* own css */
.letSide img {
  width: 100%;
}

.bag-page {
  width: 75%;
  margin-left: 12.5%;
  display: flex;
}

.bag-items-container {
  display: inline-block;
  width: 70%;
  /* display: flex; */
  padding-right: 20px;
  border-right: 1px solid #eaeaec;
  padding-top: 32px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
  /* background-color: beige; */
}

.item-container {
  width: 100%;
  /* width: 250px; */
  display: flex;
  margin: 10px;
  box-shadow: -2px -2px 7px 4px #dbcece;
  /* display: flex; */
}

.leftSide {
  width: 30%;
}

.rightSide {
  padding: 0.44rem 0.44rem;
  width: 80%;
}

.leftSide img {
  width: 100%;
}

.item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}

.price {
  margin-bottom: 10px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
  margin-bottom: 10px;
}

.bag-items-container .cross {
  font-size: 1.344rem;
  cursor: pointer;
  margin-right: 0.3388rem;
}

.bag-summary {
      vertical-align: top;
    display: inline-block;
    width: 35%;
    padding: 24px 12px 0 16px;
    color: #282c3f;
    font-size: 13px;
    line-height: 1.42857143;
    margin-top: 2.699rem;
    /* margin-left: 4rem; */
    background-color: floralwhite;
    box-shadow: -1px 5px 7px 2px #8d7b7b;
    padding-top: 4rem;
    max-height: 17rem;
}

.Total-Item {
  font-size: large;
  font-family: auto;
  margin-bottom: 1rem;
}

.total-Amount {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  width: 100%;
  background-color: red;
  /* color: white; */
  font-size: 1.11rem;
  border-radius: 12px;
  padding: 0.33rem 0.22rem;
  /* margin-bottom: 1rem; */
  margin-top: 2rem;
  cursor: pointer;

}

.price .orignal-price{
      text-decoration: line-through;
}